# Maven
target

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.classpath
.project
.settings

#NetBeans
/nbproject/

# Bower
src/main/resources/public/libraries

# Grunt
src/main/resources/public/build
node_modules
.tmp

# PhantomJS
*.log

# Sass
*.css
*.map

# mac
.DS_Store

